<script setup lang="ts">
import Modal from './NumberModal.vue'
import { ref } from 'vue'

const showModal = ref(false)
const initialValue = ref(40)
</script>

<template>
  <button id="show-modal" @click="showModal = true">{{ initialValue }}</button>

  <Teleport to="body">
    <!-- use the modal component, pass in the prop -->
    <Modal :show="showModal" @close="showModal = false">
      <template #header>
        <h3>custom header</h3>
      </template>
      <template #body>
        <input v-model.number="initialValue" />
      </template>
    </Modal>
  </Teleport>
</template>

<style scoped>
button {
  background-color: #4285f4;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2c5ca9;
}
</style>