<script setup lang="ts">
import { ref, onMounted, onUnmounted } from 'vue'

const mouseX = ref(0)
const mouseY = ref(0)
const mouseSpeed = ref(0)

const calcMouseSpeed = (function () {
  let lastPos: number, newPos: number, timer: number, delta: number, delay = 50;

  function clear() {
    lastPos = 0;
    delta = 0;
  }

  clear();

  return function () {
    newPos = mouseX.value;
    if (lastPos) {
      delta = newPos - lastPos;
    }

    lastPos = newPos;
    clearTimeout(timer);
    timer = setTimeout(clear, delay);
    return delta;
  }
})();

function updateMouse(event: MouseEvent) {
  mouseX.value = event.pageX
  mouseY.value = event.pageY
  mouseSpeed.value = calcMouseSpeed();
}

onMounted(() => window.addEventListener('mousemove', updateMouse))
onUnmounted(() => window.removeEventListener('mousemove', updateMouse))

const touchX = ref(0)
const touchY = ref(0)
const touchSpeed = ref(0)

const calcTouchSpeed = (function () {
  let lastPos: number, newPos: number, timer: number, delta: number, delay = 50;

  function clear() {
    lastPos = 0;
    delta = 0;
  }

  clear();

  return function () {
    newPos = touchX.value;
    if (lastPos) {
      delta = newPos - lastPos;
    }

    lastPos = newPos;
    clearTimeout(timer);
    timer = setTimeout(clear, delay);
    return delta;
  }
})();

function updateTouch(event: TouchEvent) {
  let touches = event.changedTouches;
  touchX.value = Math.round(touches[touches.length - 1].pageX)
  touchY.value = Math.round(touches[touches.length - 1].pageY)
  touchSpeed.value = calcTouchSpeed();
}

onMounted(() => window.addEventListener('touchmove', updateTouch))
onUnmounted(() => window.removeEventListener('touchmove', updateTouch))
</script>

<template>
  <div class="flex flex-col items-center">
    <p class="text-2xl text-stone-500 font-bold">Home</p>
    <RouterLink to="/edh-tracker/play" custon v-slot="{ navigate }">
      <button class="p-1 rounded-lg bg-indigo-700 text-white" @click="navigate">Play</button>
    </RouterLink>
    <RouterLink to="/edh-tracker/settings" custon v-slot="{ navigate }">
      <button class="p-1 rounded-lg bg-amber-500" @click="navigate">Settings</button>
    </RouterLink>
    <RouterLink to="/edh-tracker/test" custon v-slot="{ navigate }">
      <button class="p-1 rounded-lg bg-lime-400" @click="navigate">Testing</button>
    </RouterLink>
    <div>
      Mouse position is at:
    </div>
    <div>X: {{ mouseX }}</div>
    <div>Y: {{ mouseY }}</div>
    <div>
      Mouse speed is at:
    </div>
    <div>{{ mouseSpeed }}</div>
    <div>
      Touch position is at:
    </div>
    <div>X: {{ touchX }}</div>
    <div>Y: {{ touchY }}</div>
    <div>
      Touch speed is at:
    </div>
    <div>{{ touchSpeed }}</div>
  </div>
</template>

<style scoped>

</style>
