<script setup lang="ts">
import { computed, ref } from 'vue';


const begin = ref(0);
const end = ref(60);
const numberWheel = computed(() => {
    const numbers = [];

    for (let i = begin.value - 20; i < end.value + 20; i++) {
        numbers.push(i);
    }

    return numbers;
})


</script>

<template>
    <div class="flex flex-col h-full w-full items-center">
        <!-- <section class="slider-wrapper"> -->
            <ul class="slides-container" id="slides-container">
                <li class="slide" v-for="num in numberWheel" :key="num">
                    {{ num }}
                </li>
            </ul>
        <!-- </section> -->
        <button @click="begin -= 20">-</button>
        <button @click="end += 20">+</button>
    </div>
</template>

<style scoped>
.slider-wrapper {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.slides-container {
    height: 20vh;
    width: 50px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
}

.slides-container {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

/* WebKit */
.slides-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
}

.slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
}

#slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}
</style>
