<script setup lang="ts">
import { ref } from 'vue';
import HomeSVG from '../assets/home.vue'

const playerOne = ref(40);
const playerTwo = ref(40);
const playerThree = ref(40);
const playerFour = ref(40);
</script>

<template>
    <div class="absolute flex h-screen w-screen justify-center items-center">
        <RouterLink to="/edh-tracker/" custon v-slot="{ navigate }">
            <div class="flex justify-center items-center w-20 h-20 rounded-full bg-violet-900 border-4 border-stone-900"
                @click="navigate">
                <HomeSVG />
            </div>
        </RouterLink>
    </div>
    <div class="flex flex-col h-screen">
        <div class="flex h-1/2 w-screen">
            <div class="flex flex-col w-1/2 bg-lime-700 border-r-2 border-b-2 border-stone-900">
                <div class="flex h-1/3 justify-center items-center">
                    <p class="text-8xl text-lime-600 rotate-90" @click="playerOne--">-</p>
                </div>
                <div class="flex h-1/3 justify-center items-center">
                    <p class="text-9xl text-lime-200 rotate-90">{{ playerOne }}</p>
                </div>
                <div class="flex h-1/3 justify-center items-center">
                    <p class="text-8xl text-lime-600 rotate-90" @click="playerOne++">+</p>
                </div>
            </div>
            <div class="w-1/2 bg-red-700 border-l-2 border-b-2 border-stone-900">
                <div class="flex h-1/3 justify-center items-center">
                    <p class="text-8xl text-red-500 -rotate-90" @click="playerTwo++">+</p>
                </div>
                <div class="flex h-1/3 justify-center items-center">
                    <p class="text-9xl text-red-200 -rotate-90">{{ playerTwo }}</p>
                </div>
                <div class="flex h-1/3 justify-center items-center">
                    <p class="text-8xl text-red-500 -rotate-90" @click="playerTwo--">-</p>
                </div>
            </div>
        </div>
        <div class="flex h-1/2 w-screen">
            <div class="w-1/2 bg-amber-600 border-r-2 border-t-2 border-stone-900">
                <div class="flex h-1/3 justify-center items-center">
                    <p class="text-8xl text-amber-500 rotate-90" @click="playerThree--">-</p>
                </div>
                <div class="flex h-1/3 justify-center items-center">
                    <p class="text-9xl text-amber-200 rotate-90">{{ playerThree }}</p>
                </div>
                <div class="flex h-1/3 justify-center items-center">
                    <p class="text-8xl text-amber-500 rotate-90" @click="playerThree++">+</p>
                </div>
            </div>
            <div class="w-1/2 bg-sky-700 border-l-2 border-t-2 border-stone-900">
                <div class="flex h-1/3 justify-center items-center">
                    <p class="text-8xl text-sky-500 -rotate-90" @click="playerFour++">+</p>
                </div>
                <div class="flex h-1/3 justify-center items-center">
                    <p class="text-9xl text-sky-200 -rotate-90">{{ playerFour }}</p>
                </div>
                <div class="flex h-1/3 justify-center items-center">
                    <p class="text-8xl text-sky-500 -rotate-90" @click="playerFour--">-</p>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>

</style>