<script setup lang="ts">
import Picker from "./Picker.vue"
</script>

<template>
  <div class="flex flex-col h-full w-full">
    <div class="flex flex-col items-center">
      <p class="text-2xl text-stone-500 font-bold">Settings</p>
      <RouterLink to="/edh-tracker/" custon v-slot="{ navigate }">
        <button class="p-1 rounded-lg bg-amber-500" @click="navigate">Home</button>
      </RouterLink>
    </div>
    <Picker />
  </div>
</template>

<style scoped>

</style>
