<script setup lang="ts">
import NiceButton from './CounterButton.vue';

</script>

<template>
  <div class="flex justify-center items-center h-screen">
    <NiceButton :value="40" />
  </div>
</template>
  

  